{% extends 'base.html' %}<!--Heredamos de base.html-->
 
{% block content %}

<main class="container py-5">
    <section class="card card-body">

        <h1 class="display-1">FaceGuard</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia perferendis in esse maiores eaque, 
        ipsum suscipit repellat, laudantium quos sunt eius vel laboriosam rem veniam tempore error, autem vitae fugiat placeat minima! In consequuntur, 
        aperiam eligendi eos reprehenderit accusantium voluptates reiciendis numquam beatae rem obcaecati adipisci cum repellat blanditiis ullam quam officia laudantium aut,
        error sapiente quo dicta hic veritatis! Maxime odit commodi obcaecati laboriosam ipsa enim eligendi ipsum assumenda aperiam atque facilis error nobis illo similique,
        minus consequatur quae cumque accusamus reprehenderit hic recusandae. 
        Nostrum reprehenderit illo accusantium ipsa laudantium iste natus laborum, quaerat reiciendis odit, quod libero veniam!</p>
    

        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">
                Sign In
            </a>
            <a class="btn btn-primary" href="/signup/">
                Sign Up
            </a>
            
        </div>

    </section>

</main>

{% endblock %}
