{% extends 'base.html' %}<!--Heredamos de base.html-->

{% block content %}

<main class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <form class="card card-body mt-5" action="/signup/" method="POST">
        <h1 class="display-2 text-center pb-5">SignUp</h1>
        {{error}} <!--Aquí traigo el error desde views para mostrarlo en el frontend-->
        {% csrf_token %}
        <div class="mb-3">
          <label for="username">Username:</label>
          <input type="text" name="username" id="username" class="form-control" placeholder="correo@gmail.com">
        </div>
        <div class="mb-3">
          <label for="password1">Password:</label>
          <input type="password" name="password1" id="password1" class="form-control" placeholder="Write your password">
        </div>
        <div class="mb-3">
          <label for="password2">Confirm your password:</label>
          <input type="password" name="password2" id="password2" class="form-control" placeholder="Confirm your password">
        </div>
        <div class="mb-3">
            <label for="imagen_id">Imagen ID:</label>
            <input type="number" name="imagen_id" id="imagen_id" class="form-control" placeholder="Ingrese el ID de la imagen" required>
        </div>
        <button class="btn" style="background-color: #066699; color: white;">Sign Up</button>
      </form>
    </div>
  </div>
</main>


{% endblock %}

